@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Poppins|Raleway:200,400,600,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font: 600 1.5em/1.5em "Libre Baskerville", serif;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.btn {
  font: 400 1em/1em "Raleway", sans-serif;
  letter-spacing: .1em;
  font-weight: 800;
  font-size: .7em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.waves {
  background-image: url("../images/icons/waves.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 85px;
  height: 35px;
}

@media (min-width: 0) and (max-width: 960px) {
  .mobile-hide {
    display: none;
  }
}
#header.scene {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/bg/header.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}
#header.scene:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #header.scene {
    height: 700px;
  }
}
#header.scene .header-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#header.scene .header-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
#header.scene .header-wrapper .header-bottom {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  margin-top: 70px;
  border: 3px solid #f8f9fa;
}
#header.scene .header-wrapper .header-bottom:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #header.scene .header-wrapper .header-bottom {
    margin-top: 140px;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  #header.scene .header-wrapper .header-bottom:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#header.scene .header-wrapper .header-bottom .intro {
  text-align: center;
}
@media (min-width: 650px) {
  #header.scene .header-wrapper .header-bottom .intro {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    text-align: left;
  }
  #header.scene .header-wrapper .header-bottom .intro:before, #header.scene .header-wrapper .header-bottom .intro:after {
    content: '';
    display: table;
  }
  #header.scene .header-wrapper .header-bottom .intro:after {
    clear: both;
  }
}
#header.scene .header-wrapper .header-bottom .intro h2 img {
  max-width: 95%;
}
#header.scene .header-wrapper .header-bottom .intro p {
  margin-top: 20px;
  color: #f8f9fa;
  font: 200 1em/1.5em "Poppins", sans-serif;
  font-size: .75em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}
#header.scene .header-wrapper .header-bottom .intro button.btn-order_now {
  margin-top: 35px;
  padding: 15px 55px;
  background-color: #36aeea;
  color: #f8f9fa;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7em;
  line-height: 130%;
}

#journal.scene {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#journal.scene:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #journal.scene {
    padding: 55px 0 35px 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #journal.scene:after {
    content: " ";
    display: block;
    clear: both;
  }
}
#journal.scene .header-journal {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#journal.scene .header-journal:after {
  content: " ";
  display: block;
  clear: both;
}
#journal.scene .header-journal span.waves {
  margin: 0 auto;
}
#journal.scene .header-journal h2 {
  font-size: 1.6em;
  line-height: 220%;
  letter-spacing: 4px;
  margin: 0;
}
@media (min-width: 960px) {
  #journal.scene .header-journal h2 {
    margin: 15px 0 25px 0;
  }
}
#journal.scene .items-journal {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
#journal.scene .items-journal:after {
  content: " ";
  display: block;
  clear: both;
}
#journal.scene .items-journal ul.journal-list-items {
  -moz-box-shadow: #4d4d4d 2px 2px 10px;
  -webkit-box-shadow: #4d4d4d 2px 2px 10px;
  box-shadow: #4d4d4d 2px 2px 10px;
}
@media (min-width: 0) and (max-width: 650px) {
  #journal.scene .items-journal ul.journal-list-items {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#journal.scene .items-journal ul.journal-list-items:before, #journal.scene .items-journal ul.journal-list-items:after {
  content: '';
  display: table;
}
#journal.scene .items-journal ul.journal-list-items:after {
  clear: both;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  width: 50%;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}
@media (min-width: 960px) {
  #journal.scene .items-journal ul.journal-list-items li.jun-item {
    width: 33.333%;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #journal.scene .items-journal ul.journal-list-items li.jun-item {
    width: 100%;
    height: 300px;
  }
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.love {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/img3.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.love:after {
  content: '';
  width: 21%;
  height: 21%;
  z-index: 250;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-image: url("../images/icons/Vector-Smart-Object1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.love:before {
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 300;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f8f9fa;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.true {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/img4.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.true:after {
  content: '';
  width: 21%;
  height: 21%;
  z-index: 250;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-image: url("../images/icons/Vector-Smart-Object.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.true:before {
  content: '';
  position: absolute;
  z-index: 300;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f8f9fa;
}
@media (min-width: 960px) {
  #journal.scene .items-journal ul.journal-list-items li.jun-item.true:before {
    bottom: 0;
    left: 10%;
    border: 10px solid transparent;
    border-bottom-color: #f8f9fa;
  }
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.water {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/img5.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.water:after {
  content: '';
  width: 21%;
  height: 21%;
  z-index: 250;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-image: url("../images/icons/Vector-Smart-Object2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item.water:before {
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 300;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #f8f9fa;
}
@media (min-width: 960px) {
  #journal.scene .items-journal ul.journal-list-items li.jun-item.water:before {
    left: 0;
    border: 10px solid transparent;
    border-left-color: #f8f9fa;
  }
}
#journal.scene .items-journal ul.journal-list-items li.jun-item span.journal-type {
  font-size: .65em;
  color: #36aeea;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: block;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item h4 {
  font-size: .8em;
  line-height: 150%;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 4px;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item h4 span.line-through {
  text-decoration: line-through;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item p {
  width: 80%;
  margin: 0 auto;
  font: 200 1em/1.5em "Poppins", sans-serif;
  font-size: .75em;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.5);
  padding: 15px 0 10px 0;
}
#journal.scene .items-journal ul.journal-list-items li.jun-item span.journal-page-counter {
  position: absolute;
  bottom: 30px;
  font-style: italic;
  font-size: .8em;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.header-top {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: rgba(159, 173, 186, 0.2);
}
.header-top:before, .header-top:after {
  content: '';
  display: table;
}
.header-top:after {
  clear: both;
}
.header-top:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  .header-top {
    padding: 22px 15px;
  }
}
.header-top .navArticle {
  position: relative;
  z-index: 5;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.header-top .navArticle .burger-menu-wrapper {
  display: none;
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .burger-menu-wrapper {
    cursor: pointer;
    display: block;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    float: right;
    padding: 5px;
  }
}
.header-top .navArticle .burger-menu-wrapper .burger-menu {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #36aeea;
  position: relative;
}
.header-top .navArticle .burger-menu-wrapper .burger-menu:after, .header-top .navArticle .burger-menu-wrapper .burger-menu:before {
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
}
.header-top .navArticle .burger-menu-wrapper .burger-menu:after {
  top: 8px;
}
.header-top .navArticle .burger-menu-wrapper .burger-menu:before {
  top: 16px;
}
.header-top .navArticle:after {
  content: " ";
  display: block;
  clear: both;
}
.header-top .navArticle:before, .header-top .navArticle:after {
  content: '';
  display: table;
}
.header-top .navArticle:after {
  clear: both;
}
@media (min-width: 960px) {
  .header-top .navArticle {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  .header-top .navArticle:after {
    content: " ";
    display: block;
    clear: both;
  }
}
.header-top .navArticle .logo-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding: 4px;
}
.header-top .navArticle .logo-wrapper:before, .header-top .navArticle .logo-wrapper:after {
  content: '';
  display: table;
}
.header-top .navArticle .logo-wrapper:after {
  clear: both;
}
@media (min-width: 960px) {
  .header-top .navArticle .logo-wrapper {
    padding: 10px 20px;
  }
}
.header-top .navArticle .logo-wrapper img {
  max-width: 95%;
}
.header-top .navArticle .navigation-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font: 600 1.5em/1.5em "Libre Baskerville", serif;
  font-size: .5em;
  text-transform: uppercase;
  font-weight: 600;
}
.header-top .navArticle .navigation-list:before, .header-top .navArticle .navigation-list:after {
  content: '';
  display: table;
}
.header-top .navArticle .navigation-list:after {
  clear: both;
}
@media (min-width: 650px) and (max-width: 960px) {
  .header-top .navArticle .navigation-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    font-size: .6em;
    letter-spacing: .1em;
  }
  .header-top .navArticle .navigation-list:before, .header-top .navArticle .navigation-list:after {
    content: '';
    display: table;
  }
  .header-top .navArticle .navigation-list:after {
    clear: both;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.header-top .navArticle .navigation-list ul.navList.show-menu {
  display: block;
  top: 100%;
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  .header-top .navArticle .navigation-list ul.navList:before, .header-top .navArticle .navigation-list ul.navList:after {
    content: '';
    display: table;
  }
  .header-top .navArticle .navigation-list ul.navList:after {
    clear: both;
  }
}
.header-top .navArticle .navigation-list ul.navList li.navItem {
  display: inline-block;
  color: #4d4d4d;
  padding: 0 10px;
  font-size: 1.4em;
}
@media (min-width: 650px) and (max-width: 960px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem {
    font-size: .8em;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    padding: 0;
    border-bottom: 1px solid #666666;
    display: list-item;
    background-color: #4d4d4d;
    text-align: center;
  }
}
.header-top .navArticle .navigation-list ul.navList li.navItem a {
  display: block;
  margin: 5px 0;
  padding: 10px 0;
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem a {
    transition: all 1s cubic-bezier(0.3, 1, 0.85, 1);
  }
}
.header-top .navArticle .navigation-list ul.navList li.navItem a span {
  color: #4d4d4d;
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem a span {
    color: #36aeea;
    font-size: 1.4em;
    letter-spacing: 1.4px;
  }
}
@media (min-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem a:hover {
    border-bottom: 3px solid #36aeea;
    padding-bottom: 7px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .navigation-list ul.navList li.navItem a:hover {
    background-color: #95a5ad;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  }
}
.header-top .navArticle .header-btn-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.header-top .navArticle .header-btn-wrapper:before, .header-top .navArticle .header-btn-wrapper:after {
  content: '';
  display: table;
}
.header-top .navArticle .header-btn-wrapper:after {
  clear: both;
}
@media (min-width: 650px) and (max-width: 960px) {
  .header-top .navArticle .header-btn-wrapper {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .header-btn-wrapper {
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.header-top .navArticle .header-btn-wrapper .btn-call_us {
  padding: 7px 15px;
  font-size: .5em;
  background: transparent;
  border: 3px solid #36aeea;
  text-transform: uppercase;
  color: #36aeea;
  float: right;
}
@media (min-width: 650px) and (max-width: 960px) {
  .header-top .navArticle .header-btn-wrapper .btn-call_us {
    padding: 10px 25px;
    margin: 5px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  .header-top .navArticle .header-btn-wrapper .btn-call_us {
    margin: 5px;
    float: left;
  }
}

#readme.scene {
  background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/bg/bg-tree.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: 100% 30%;
  -moz-background-size: 100% 30%;
  -o-background-size: 100% 30%;
  background-size: 100% 30%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(242, 242, 242, 0.95);
  height: 350px;
  position: relative;
}
#readme.scene:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #readme.scene {
    height: 600px;
  }
}
#readme.scene .sceneTree,
#readme.scene .sceneTreeBlur {
  position: absolute;
  z-index: 250;
  width: 100%;
  height: inherit;
}
#readme.scene .sceneTree {
  background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/tree.png");
  background-repeat: no-repeat;
  background-position: 77% bottom;
  -webkit-background-size: 20%;
  -moz-background-size: 20%;
  -o-background-size: 20%;
  background-size: 20%;
}
#readme.scene .sceneTreeBlur {
  z-index: 251;
  background: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/blurTree.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  -o-background-size: 30%;
  background-size: 30%;
}
#readme.scene section.readme-wrapper {
  z-index: 300;
  max-height: 220px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
#readme.scene section.readme-wrapper:before, #readme.scene section.readme-wrapper:after {
  content: '';
  display: table;
}
#readme.scene section.readme-wrapper:after {
  clear: both;
}
#readme.scene section.readme-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #readme.scene section.readme-wrapper {
    max-height: 320px;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
  }
  #readme.scene section.readme-wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #readme.scene section.readme-wrapper {
    text-align: center;
    margin: 0 auto;
  }
}
#readme.scene section.readme-wrapper h1 {
  margin: 15px 0;
  letter-spacing: 3px;
}
#readme.scene section.readme-wrapper p {
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  font: 200 1em/1.5em "Poppins", sans-serif;
  font-size: .7em;
}
@media (min-width: 0) and (max-width: 650px) {
  #readme.scene section.readme-wrapper form {
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 960px) {
  #readme.scene section.readme-wrapper form {
    display: inline-block;
  }
}
#readme.scene section.readme-wrapper form:before, #readme.scene section.readme-wrapper form:after {
  content: '';
  display: table;
}
#readme.scene section.readme-wrapper form:after {
  clear: both;
}
#readme.scene section.readme-wrapper form input {
  float: left;
  border: none;
  padding: 0 15px;
  height: 40px;
  width: 250px;
}
@media (min-width: 0) and (max-width: 650px) {
  #readme.scene section.readme-wrapper form input {
    display: block;
    float: none;
    margin: 10px auto;
  }
}
#readme.scene section.readme-wrapper form input:focus {
  outline-style: none;
  border: none;
}
#readme.scene section.readme-wrapper form button.btn-order-now {
  background-color: #36aeea;
  color: #f8f9fa;
  width: 150px;
  height: 40px;
  padding: 15px 25px;
  border: none;
}
@media (min-width: 0) and (max-width: 650px) {
  #readme.scene section.readme-wrapper form button.btn-order-now {
    width: 250px;
  }
}
#readme.scene section.readme-wrapper .data-wrapper {
  padding: 15px 0;
}
#readme.scene section.readme-wrapper .data-wrapper .data-icn {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/icons/Lock-locked.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#readme.scene section.readme-wrapper .data-wrapper .data-text {
  display: inline-block;
  float: left;
  color: #36aeea;
  margin-left: 10px;
}

#wework {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}
#wework:after {
  content: " ";
  display: block;
  clear: both;
}
#wework:before, #wework:after {
  content: '';
  display: table;
}
#wework:after {
  clear: both;
}
#wework .wework_header {
  height: 180px;
  padding-top: 50px;
  text-align: center;
}
@media (min-width: 0) and (max-width: 650px) {
  #wework {
    display: none;
  }
}
#wework h2,
#wework span {
  margin: 0 auto;
}
#wework h2 {
  padding: 15px 0 10px 0;
}
#wework .wework_body ul.wework_list {
  display: inline-block;
  width: 100%;
  position: relative;
}
#wework .wework_body ul.wework_list:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 75%;
  left: 12.5%;
  top: 24px;
  background-color: #dde2e5;
  z-index: -1;
}
#wework .wework_body ul.wework_list:before, #wework .wework_body ul.wework_list:after {
  content: '';
  display: table;
}
#wework .wework_body ul.wework_list:after {
  clear: both;
}
#wework .wework_body ul.wework_list li.wework_list_item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  position: relative;
}
#wework .wework_body ul.wework_list li.wework_list_item span.number-item {
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-color: #f8f9fa;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #36aeea;
  color: #36aeea;
  text-align: center;
  line-height: 43px;
  font-width: 800;
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle {
  width: 170px;
  height: 170px;
  background-color: #ebeef0;
  border-radius: 100%;
  margin: 90px auto 10px;
  position: relative;
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle {
    width: 140px;
    height: 140px;
    margin: 60px auto 10px;
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle:before {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #dde2e5;
  position: absolute;
  left: calc(50% - 0.5px);
  top: calc(-90% + 40px);
  z-index: -10;
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle {
  position: relative;
  width: 120px;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
  background: #ffffff !important;
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle {
    width: 102px;
    height: 51px;
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:after, #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:before {
  content: '';
  position: absolute;
  border: 60px solid #ffffff;
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:after, #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:before {
    border-width: 51px;
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:after {
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: scaleY(0.5);
  top: calc(100% - 30px);
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:after {
    top: calc(100% - 26px);
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:before {
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: scaleY(0.5);
  top: calc(-100% - 30px);
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle:before {
    top: calc(-100% - 25px);
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle .icn {
  display: block;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
@media (min-width: 650px) and (max-width: 750px) {
  #wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle .ractangle .icn {
    width: 31px;
    height: 31px;
    background-size: 30px 30px !important;
  }
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle #note-icn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/icons/1.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -o-background-size: 36px 36px;
  background-size: 36px 36px;
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle #user-icn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/icons/7.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -o-background-size: 36px 36px;
  background-size: 36px 36px;
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle #book-icn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/icons/71.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -o-background-size: 36px 36px;
  background-size: 36px 36px;
}
#wework .wework_body ul.wework_list li.wework_list_item .wrapper-circle #oclock-icn {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/icons/11.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 36px 36px;
  -moz-background-size: 36px 36px;
  -o-background-size: 36px 36px;
  background-size: 36px 36px;
}
#wework .wework_body ul.wework_list li.wework_list_item .wework_desc_wrapper {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
#wework .wework_body ul.wework_list li.wework_list_item .wework_desc_wrapper h4 {
  font-size: .8em;
  text-transform: lowercase;
  padding: 0 10px 5px 10px;
  font-weight: 800;
  color: #101417;
}
#wework .wework_body ul.wework_list li.wework_list_item .wework_desc_wrapper h4:first-letter {
  font-size: .9em;
}
#wework .wework_body ul.wework_list li.wework_list_item .wework_desc_wrapper p {
  font: 200 1em/1.5em "Poppins", sans-serif;
  font-size: .7em;
  color: rgba(0, 0, 0, 0.5);
}

#readmore {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 0 0 25px 0;
}
#readmore:after {
  content: " ";
  display: block;
  clear: both;
}
#readmore .wrapper-readmore {
  max-height: 600px;
  height: 400px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg/underHeader.png");
  background-repeat: no-repeat;
}
@media (min-width: 650px) and (max-width: 960px) {
  #readmore .wrapper-readmore {
    height: 400px;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #readmore .wrapper-readmore {
    max-height: 200px;
  }
}
#readmore .wrapper-readmore:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  #readmore .wrapper-readmore {
    background-position: center;
    background-size: contain;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  #readmore .wrapper-readmore {
    background-position: 50% 50%;
    background-size: 70% 70%;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #readmore .wrapper-readmore {
    background-position: 30% 50%;
    background-size: 40% 40%;
  }
}
#readmore .wrapper-readmore .left-side-readmore {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
}
#readmore .wrapper-readmore .left-side-readmore:before, #readmore .wrapper-readmore .left-side-readmore:after {
  content: '';
  display: table;
}
#readmore .wrapper-readmore .left-side-readmore:after {
  clear: both;
}
@media (min-width: 650px) {
  #readmore .wrapper-readmore .left-side-readmore {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }
}
#readmore .wrapper-readmore .left-side-readmore span.waves {
  margin-top: 40px;
  margin-left: 10px;
}
#readmore .wrapper-readmore .left-side-readmore p {
  font: 200 1em/1.5em "Poppins", sans-serif;
  color: #666666;
  letter-spacing: 1px;
  font-size: .65em;
  margin-top: 40px;
}
@media (min-width: 650px) {
  #readmore .wrapper-readmore .left-side-readmore p {
    margin-top: 50px;
    font-size: .75em;
  }
}
#readmore .wrapper-readmore .left-side-readmore button.btn-readmore {
  padding: 10px 25px;
  text-transform: uppercase;
  background-color: #36aeea;
  border: none;
  color: #f8f9fa;
  margin: 20px;
}
@media (min-width: 650px) {
  #readmore .wrapper-readmore .left-side-readmore button.btn-readmore {
    margin-top: 20px;
  }
}
#readmore .wrapper-readmore .right-side-readmore {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 100%;
  position: relative;
}
@media (min-width: 650px) {
  #readmore .wrapper-readmore .right-side-readmore {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  #readmore .wrapper-readmore .right-side-readmore:before, #readmore .wrapper-readmore .right-side-readmore:after {
    content: '';
    display: table;
  }
  #readmore .wrapper-readmore .right-side-readmore:after {
    clear: both;
  }
}
#readmore .wrapper-readmore .right-side-readmore .img-readme {
  position: absolute;
  background-color: white;
}
#readmore .wrapper-readmore .right-side-readmore .img-readme:before, #readmore .wrapper-readmore .right-side-readmore .img-readme:after {
  content: '';
  display: table;
}
#readmore .wrapper-readmore .right-side-readmore .img-readme:after {
  clear: both;
}
#readmore .wrapper-readmore .right-side-readmore .img-readme img {
  width: 100%;
}
#readmore .wrapper-readmore .right-side-readmore .img-readme.img1 {
  right: 0;
  top: -10%;
  width: 80%;
}
@media (min-width: 650px) and (max-width: 960px) {
  #readmore .wrapper-readmore .right-side-readmore .img-readme.img1 {
    width: 70%;
    top: -5%;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #readmore .wrapper-readmore .right-side-readmore .img-readme.img1 {
    top: 5%;
    right: 5%;
    width: 90%;
  }
}
#readmore .wrapper-readmore .right-side-readmore .img-readme.img2 {
  top: 50%;
  right: 60%;
  width: 45%;
}
@media (min-width: 650px) and (max-width: 960px) {
  #readmore .wrapper-readmore .right-side-readmore .img-readme.img2 {
    top: 30%;
    width: 40%;
  }
}
@media (min-width: 0) and (max-width: 650px) {
  #readmore .wrapper-readmore .right-side-readmore .img-readme.img2 {
    display: none;
  }
}
